.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}
.btn-options {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
}